<!DOCTYPE html>
<html lang = "en">

<title>Goodreads Recommender</title>
<div class="container">

<BODY>
    <H1>Job Recommender</H1>
<!--    <P><img src="{{ url_for('static', filename="books.jpg")}}"></P> -->

</BODY>
<form action="/{{name}}" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
    <label for="name">Job Description:</label>
    <input type="text" class="form-control" id="text" name="text" placeholder="Insert job description?"></div>
    <button type="submit" class="btn btn-success">Submit</button>


</form>{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
<div class="alert alert-info">
   <strong>Success! </strong> {{ message[1] }}</div>
{% endif %}

{% if "Error" in message[1]: %}
<div class="alert alert-warning">
    {{ message[1] }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>

</html>
